html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
}

#content div {
	width: 100%;
	display: block;

}

#lg3 {
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid grey;
}

#lg3:hover{
}

.cardContent {
	display:block;
	margin: auto;
	text-align:center;
}