html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#f4f3d7;

}

#top {
  text-align: center;
  margin: 0;
  padding:0;
  background-color:#f4f3d7;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid grey;
}

#top h1 {
  font-size: 2em;
  background-color:#f4f3d7;
}

#content {
  margin: 0;
  padding: 0;
}

#content div {

}

#sm {
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid grey;
}

#sm:hover{
}

.cardContent {
	display:block;
	margin: auto;
	text-align:center;
}